

<div class="container">
  <div class="jumbotron">
    <h1><%= @game.name %></h1>
    <%= image_tag @game.logo_url %>
  </div>

<h3>Select the stats which you would like to display. (MAX 5)</h3>
<%= form_tag  game_stash_path, method: :put do %>
  <% @game.stats.each do |stat| %>
     <br><%= check_box_tag "#{stat.name}", stat.value %><%= stat.name %>:<%= stat.value %>
  <% end %>
  <br>
  <br><%= submit_tag "Add to chart" %>
  <br>
<% end %>

  

</div>

