

<%= @profile.name %><br>
<div class="pull-right">
  <%= link_to "Stats Manager", stats_path %>

</div>

<%= image_tag @profile.avatar_full %>


<br>
<br>
<p><%= render 'gamelist' %></p>

<p><%= render 'friendlist' %></p>


