<%= @profile.name %><br>

<<<<<<< HEAD
<%= image_tag @profile.avatar_full %>



=======
<%= image_tag @profile.avatar_full %> <br>
>>>>>>> feature/gamelist

<p><%= render 'gamelist' %></p>
<%= render 'friendlist' %>
