<div class="pull-right">
  
  <%= render 'chartlist' %>
</div>

<%= @profile.name %><br>


<%= image_tag @profile.avatar_full %>


<br>
<br>
<p><%= render 'gamelist' %></p>

<p><%= render 'friendlist' %></p>




